@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-image: url("pics/bg-body.gif");
    background-repeat: repeat;
    color: white;
    margin: 0;
}

.box {
    
    width: 50%;
    padding: 20px 0 20px 0;
    margin: 20px auto;
}

.box2 {
    width: 55%;
    padding: 20px 0 20px 0;
    margin: 20px auto;
}

.box3 {
    width: 42%;
    padding: 20px 0 20px 0;
    margin: 20px auto;
}

.box .header-image {
    height: 400px;
    background-image: url("pics/bluestory.jpg")
}

.box2 .header-image {
    height: 330px;
    background-image: url("pics/lcdp.jpg")
}

.box3 .header-image {
    height: 330px;
    background-image: url("pics/pony.jpg")
}

.box .box-content {
    padding: 20px;
    color: white
}

.box2 .box-content {
    padding: 20px;
    color: white
}

.box3 .box-content {
    padding: 20px;
    color: white
}

.box .box-content h2 {
    margin: 0;
    color: #0087f7
}    

.box2 .box-content h2 {
    margin: 0;
    color: #ff0000
}

.box3 .box-content h2 {
    margin: 0;
    color: #ff00ff
}

.infok a {
    display: block;
    background-color: #0087f7;
    color: black;
}

.infok2 a {
    display: block;
    background-color: #ff0000;
    color: black;
}

.infok3 a {
    display: block;
    background-color: #ff00ff;
    color: black;
}