@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box
}
body {
    background-image: url(../pics/bg-body.gif);
    color: #732d42;
    margin: 0;
    font-family: 'Oswald', Symbol
}
div {
    padding: 20px 0 20px 0;
    width: 90%;
    margin: 20px auto;
}
div .header-image {
    height: 200px;
    background-image: url(../pics/image1.jpg)
}
div .header-image2 {
    height: 200px;
    background-image: url(../pics/image2.jpg)
}
.box-content h2 {
    margin: 0;
    color: #4382b4
}
.box-content2 h2 {
    margin: 0;
    color: #738e72
}
.details a {
    display: block;
    background-color: #feb127;
    color: black
}