@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

html {
	height: 100%;
}
body {
	margin: 0;
	font-family: georgia;
	background: url('../pics/bg-body.png') #fff
}
* {
	box-sizing: border-box
}
a {
	color: #354052
}

h1{
	font-family: 'Lobster';
	text-align: center;
	font-size: 70px;
	border-top: 2px dashed rgba(0,0,0,0.2);
	border-bottom: 2px dashed rgba(0,0,0,0.2);
	padding: 20px 0;
	margin: 40px 0;
	background: rgba(255,255,255,0.8);
	color: #76b332

}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.content{
	display: flex;
	flex-flow: row;
}

nav{
	background: url(../pics/bg-menu.jpg);
	flex-basis: 20vw;
	order: 1;
}

main{
	flex-basis: 60vw;
	margin: 0 20px;
	order: 2;
}

aside{
	flex-basis: 20vw;
	order: 3;
}

aside ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
aside a{
	display: block;
	color: #354052;
	font-size: 14px;
	text-decoration: none;
    line-height: 20px;
}

aside a:hover{
	text-decoration: underline;
}

aside li{
	padding: 15px 0;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

nav ul{
	margin: 0;
	list-style: none;
	padding: 30px 10px 10px 10px;
}

nav li{
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

nav a{
	text-decoration: none;
	color: white;
	padding: 15px;
	display: block;
}

nav a:hover{
	background: rgba(255, 255, 255, 0.2);
}

.recipes-box{
	flex: 1;
	min-width: 250px;
	background: white;
	border: 1px solid #ddd;
	padding: 0 0 10px 0;
	margin: 0 10px 20px 10px;
}

.recipes-box h2{
	font-size: 18px;
	padding: 10px 20px 0 20px;
	margin: 0;

}

.recipes-box p{
	margin: 0;
	padding: 10px 20px;
	line-height:  19px;

}

.recipes{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

img{
	max-width: 100%;
}

.pagination{
	display: flex;
	flex-flow: row wrap;
	margin: 30px 0;
    justify-content: flex-start;
}

.pagination .page{
	display: inline-block;
	padding: 5px 8px;
	text-decoration: none;
	background: white;
	border: 1px solid rgba(0,0,0,.2);
	color: #354052;
	margin: 0 5px 5px 0;
}

.pagination .page:hover{
	background: black;
	color:white;

}