@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body
{
    
    background: url(hatter.png) fixed;
    background-size: 100%;
    background-position: 0% ;

    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-style: bold;
    line-height: 34px;
    color: rgb(255, 255, 255);
    text-shadow:5px 0px rgb(0, 0, 0);
    margin-right: 200px;

}

a {
    color: white;
    text-decoration: none;
}

li {
    margin-left: 20px;
}

h1 {
    font-size: 100px;
}

h3 {
    font-size: 60px;
}

.firstgen {
    color: rgb(255, 0, 55);
}

.secondgen {
    color: gold;
}

.thirdgen {
    color: rgb(77, 29, 77); 
}

.pictures {
    margin-top: 50px;
    margin-bottom: 12px;
}